a.btn.btn-danger.navbar-btn.navbar-right{
  margin:5px;
}

button.btn.btn-danger.navbar-btn.navbar-right{
  margin:5px;
}

a.btn.btn-link.navbar-btn.navbar-right{
  margin:5px;
}

.uploading {
  position: relative;
    overflow: hidden;
    margin: 10px;
}

.uploading input[type="file"] {
  position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn-black {
  color: #ffffff;
  background-color: #333333;
  border-color: #222222;

}
.btn-black:hover, .btn-black:focus, .btn-black:active, .btn-black.active, .open>.dropdown-toggle.btn-black {
    color: #333;
    background-color: #ffffff;
    border-color: #222; /*set the color you want here*/
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}